.layout {
  display: grid;
  grid-template-columns: 18rem 1fr;
  grid-template-rows: 80px 1fr 80px;
  min-height: 100vh;
}

.header {
  background-color: #93c5fd;
  grid-area: 1 / 1 / 2 / 3;
}

.aside {
  grid-area: 2 / 1 / 4 / 2;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
}

.blueButton {
  display: flex;
  width: 78px;
  height: 33px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  border: 2px solid var(--azul-oscuro, #164863);
  background: var(--azul-oscuro, #164863);
  color: white;
}

.footer {
  background-color: #92400e;
  grid-area: 3 / 2 / 4 / 3;
}